#gg-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    background: rgba(255,255,255,0.85);
    z-index: 9999999;
    text-align: center;
}

#gg-screen .gg-image {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#gg-screen .gg-image img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.gg-bt:hover {
    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(0,0,0,0.5);
}
.gg-prev, .gg-nxt {
    position: fixed;
    bottom: 50%;
}
.gg-close, .gg-nxt {
    right: .5em;
}

.gg-close {
    position: fixed;
    top: .5em;
}

.gg-prev {
    left: .5em;
}

.gg-bt {
    width: 38px;
    height: 38px;
    background: rgba(255,255,255,0.6);
    color: #222;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    font-size: 25px;
    border: 1px solid rgba(0,0,0,0.05);
    box-sizing: border-box;
    padding-left: 2px;
}

.gg-element {
    position: relative;
}

.gg-element i {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: white;
}
