@import url('gg.min.css');
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Brush Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nanum Brush Script'), local('NanumBrush'), url(https://fonts.gstatic.com/s/nanumbrushscript/v17/wXK2E2wfpokopxzthSqPbcR5_gVaxazCiapv.ttf) format('truetype');
}
body,
html {
  background-color: #f3f4ee;
  font-family: "Montserrat Light", "Helvetica Neue", sans-serif;
  font-size: 18px;
}
a {
  color: #2ca343;
}
a:hover {
  color: #2ca343;
}
.brush {
  font-family: 'Nanum Brush Script', cursive;
}
.rounded-25 {
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
}
h1,
h2 {
  font-size: 2.222em;
  line-height: 1em;
}
h1 .brush,
h2 .brush {
  font-size: 1.45em;
}
h2 {
  font-size: 2em;
  padding-bottom: 1.5rem;
}
p {
  line-height: 2em;
}
.h1:after,
.h2:after {
  content: '';
  border-bottom: 1px solid #2ca343;
  width: 2em;
  display: block;
  margin: 1em auto;
}
header .menu_bar {
  height: 100px;
  line-height: 100px;
}
header h1.hdr-logo {
  font-size: 2em;
  height: 100px;
  line-height: 100px;
}
header .header-left,
header .header-right {
  height: 440px;
  background-size: cover;
  background-repeat: no-repeat;
}
header .header-back {
  background-image: url("../images/header-page.png");
  background-size: cover;
  background-position: center center;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 22.222em;
}
header .header-back h1.article-h1 {
  font-size: 2.222em;
}
header .header-block .title {
  font-size: 2em;
  line-height: 1.111em;
  word-wrap: break-word;
}
header .header-block .button {
  position: relative;
  bottom: -2.2rem;
}
header .main-breadcrumbs {
  color: #fff;
  font-size: 0.778em;
}
header .main-breadcrumbs a {
  color: #fff;
}
header .main-breadcrumbs .breadcrumb_last {
  font-family: "Montserrat SemiBold", "Helvetica Neue", sans-serif;
}
header .article-h1 {
  color: #fff;
}
header .white-line {
  height: 1em;
  width: 115px;
  border-bottom: 1px solid white;
  display: inline-block;
  align-self: center;
}
.gescheurde-lijn {
  position: relative;
}
.gescheurde-lijn:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 22px;
  background-image: url("../images/gescheurde_lijn.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
nav#nav-main {
  z-index: 1000;
  height: 100px;
}
nav#nav-main label[for=menu-button] {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 2em;
}
nav#nav-main label[for=menu-button]:before {
  content: "\f0c9";
}
nav#nav-main ul.menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  display: flex;
}
nav#nav-main ul.menu li {
  padding: 0px;
  margin: 0px;
  position: relative;
}
nav#nav-main ul.menu li a {
  color: #000;
  padding: 0px 1em;
}
.current-menu-item nav#nav-main ul.menu li anav#nav-main ul.menu li a,
nav#nav-main ul.menu li a:hover {
  color: #2ca343;
}
nav#nav-main ul.menu li input:checked ~ ul.menu {
  display: flex;
}
nav#nav-main ul.menu ul.menu {
  flex-direction: column;
  background: #fff;
  line-height: 2em;
  position: absolute;
  display: none;
}
button,
input[type="submit"] {
  -webkit-appearance: none;
  border-style: solid;
  border: 0px solid white;
}
.button,
.wp-block-button__link {
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  background-color: #2ca343;
  border-bottom: 3px solid #237f35 !important;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  display: inline-block;
  padding: 0 2em;
  font-size: 0.938em;
  line-height: 40px;
  height: 40px;
}
.button.yellow,
.wp-block-button__link.yellow {
  background-color: #e3ac27 !important;
  border-bottom-color: #a8801f !important;
}
.button.ghost,
.wp-block-button__link.ghost {
  border: 1px solid #fff !important;
  background-color: transparent;
}
.button.ghost.green,
.wp-block-button__link.ghost.green {
  border: 2px solid #2ca343 !important;
  line-height: 38px;
  height: 38px;
  color: #2ca343;
}
.button:hover,
.wp-block-button__link:hover {
  text-decoration: none;
  color: #fff;
}
.wp-block-button__link {
  background-color: #2ca343 !important;
  font-size: 0.938em !important;
  line-height: 0.938em !important;
  -webkit-border-radius: 1.5em !important;
  -moz-border-radius: 1.5em !important;
  border-radius: 1.5em !important;
}
.wheat-back,
.wood-back,
.toast-back,
.wheat-clouds-back {
  background-color: #f3f4ee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.wheat-clouds-back {
  background-image: url("../images/wheat-clouds-back.png");
}
.wheat-back {
  background-image: url("../images/wheat-back.png");
}
.wood-back {
  background-image: url("../images/wood-back.png");
}
.toast-back {
  background-image: url("../images/toast-back.png");
  color: #fff;
}
.pt-100 {
  padding-top: 5.556em;
}
.pb-100 {
  padding-bottom: 5.556em;
}
.pt-50 {
  padding-top: 2.778em;
}
.pb-50 {
  padding-bottom: 2.778em;
}
.mt-50 {
  margin-top: 2.778em;
}
.mb-50 {
  margin-bottom: 2.778em;
}
.keurmerk {
  color: #fff;
}
.keurmerk .keurmerk-title {
  font-size: 1.556em;
}
.keurmerk .keurmerk-body {
  font-size: 0.833em;
}
.category a {
  color: #000;
}
.category a:hover {
  text-decoration: none;
}
.category .category-title {
  font-size: 1.222em;
}
.no-break {
  white-space: nowrap;
}
footer {
  background-color: #f3f4ee;
}
footer .footer-menu-title {
  font-size: 1.111em;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}
footer a {
  color: #000;
}
footer a:hover {
  color: #000;
}
footer ul.menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
footer ul.menu li {
  font-size: 0.778em;
  line-height: 2em;
}
footer .footer-text {
  border-top: 1px solid #e5e6e2;
}
footer .footer-text .brush {
  font-size: 2.778em;
  color: #266d34;
}
footer .footer-links {
  font-size: 0.722em;
}
.configurator-content .prod_conf {
  display: flex;
}
.configurator-content .prod_conf .prod_conf_option {
  display: none;
}
.configurator-content .prod_conf .prod_conf_option label {
  height: 210px;
  background-color: #fff;
  border: 2px solid white;
  background-size: cover;
  background-position: center center;
  border: 2px solid #266d34;
  margin-bottom: 15px;
}
.configurator-content .prod_conf .prod_conf_option label .button {
  font-size: 0.778em;
  text-transform: none;
  position: relative;
  bottom: -15px;
  white-space: nowrap;
  padding: 0.5em 1em;
  align-self: flex-end;
}
.configurator-content .prod_conf .prod_conf_option input {
  display: none;
}
.configurator-content .prod_conf .prod_conf_option input.prod_option_radio:not(:checked) ~ label {
  border-color: #fff;
}
.configurator-content .prod_conf .prod_conf_option input.prod_option_radio:not(:checked) ~ label .button {
  border-color: #868686 !important;
  background-color: #bcbcbc;
}
.configurator-content .prod_conf.level_1 .prod_conf_option {
  display: block;
}
.configurator-content .step_label {
  display: none;
  border-top: 1px solid #266d34;
}
.configurator-content .step_label.level_1 {
  display: block;
  border-top: none;
}
.button:disabled {
  border-color: #868686 !important;
  background-color: #bcbcbc !important;
}
.configurator-form-container .configurator-form-title {
  font-size: 1.444em;
  border-bottom: 1px solid #eeeeee;
}
.verkooppunten .verkooppunt .verkooppunt-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.verkooppunten .verkooppunt .button {
  position: relative;
  bottom: -2.2rem;
  align-self: center;
}
.full-bg {
  position: relative;
  color: white;
}
.full-bg:before {
  position: absolute;
  content: '';
  height: 100%;
  left: -25vw;
  right: -25vw;
  background-size: cover;
  background-position: center center;
}
.wp-block-media-text {
  padding: 3rem 0px;
}
.wp-block-media-text:first-child {
  padding: 0px 0px 3rem 0px;
}
.form-group .form-control {
  border-radius: 25px;
  background-color: #f5f5f5;
}
.icon {
  width: 15px;
  height: 11px;
  display: inline-block;
}
.icon.icon-checkmark {
  background-image: url("../images/checkmark.png");
  background-repeat: repeat;
}
.features {
  justify-content: space-evenly;
}
.features .feature .feature-title {
  font-size: 1.444em;
}
.features .feature .feature-body {
  font-size: 0.889em;
  margin-bottom: -1rem !important;
}
.features .feature .button {
  position: relative;
  bottom: -2rem;
  white-space: nowrap;
  align-self: center;
}
.faqs .faq .faq_title {
  font-size: 1.444em;
}
.faqs .faq .faq_title label {
  display: block;
  position: relative;
  cursor: pointer;
}
.faqs .faq .faq_title label:before {
  font-family: "Courier New";
  content: "-";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 43px;
  width: 43px;
  display: block;
  color: #9f9f9f;
  font-size: 43px;
  border-radius: 50%;
  border: 1px solid #9f9f9f;
  text-align: center;
  line-height: 43px;
}
.faqs .faq .faq_body .faq_answer {
  font-size: 0.889em;
  border-top: 1px solid #e5e6e2;
  border-bottom: 1px solid #e5e6e2;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.faqs .faq .faq_body .like {
  font-size: 0.778em;
}
.faqs .faq .faq_body .like a.like_button .far {
  color: #2ca343;
}
.faqs .faq input.faq_cb:not(:checked) ~ .faq_body {
  display: none;
}
.faqs .faq .thumbs-up {
  font-size: 0.539em;
}
.faqs .faq .thumbs-up .far {
  color: #aaaba8;
}
input.faq_cb:not(:checked) ~ .faq_title .faq-label:before {
  content: "+";
}
.social .social-icon {
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 20px;
}
.producten .product {
  opacity: 1;
  transition: all 0.5s ease;
  overflow: hidden;
}
.producten .product .product-image {
  min-height: 250px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.producten .product .button {
  position: relative;
  bottom: -1rem;
  align-self: center;
  text-transform: none;
}
.producten .product.hidden {
  opacity: 0;
  width: 0;
  flex: 0;
  max-width: 0;
  padding: 0px !important;
  margin: 0px;
}
.producten .product_filter {
  display: none;
}
.producten .checkmark_label {
  display: inline-flex;
}
.producten .checkmark {
  font-family: "Font Awesome 5 Pro";
}
.producten .checkmark:before {
  display: block;
  width: 30px;
  height: 28px;
  border: 2px solid #266d34;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 900;
  content: " ";
  line-height: 22px;
  text-align: center;
  color: #fff;
}
.producten .checkmark_text {
  display: block;
}
.producten input:checked ~ .checkmark:before {
  content: "\f00c";
  background-color: #2ca343;
}
.productafbeeldingen {
  margin: -1em;
  justify-content: space-evenly;
}
.productafbeeldingen .productafbeelding {
  background-size: cover;
  background-position: center center;
  min-height: 230px;
  margin: 1em;
  max-width: 100%;
  flex-grow: 1;
}
.ingredienten_en_voedingswaarden {
  border-bottom: 1px solid #e5e6e2;
}
.ingredienten_en_voedingswaarden .checkmark {
  font-family: "Font Awesome 5 Pro";
}
.ingredienten_en_voedingswaarden .checkmark:before {
  display: block;
  width: 30px;
  height: 28px;
  border: 2px solid #266d34;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 900;
  content: " ";
  line-height: 22px;
  text-align: center;
  color: #fff;
}
.ingredienten_en_voedingswaarden .checkmark.checked:before {
  content: "\f00c";
  background-color: #2ca343;
}
.ingredienten_en_voedingswaarden .label {
  display: block;
  padding-left: 1em;
  white-space: nowrap;
}
.ingredienten_en_voedingswaarden .col {
  flex-grow: 0;
}
.recepten .recept {
  border-bottom: 1px solid #e5e6e2;
}
.recepten .recept .recept_image {
  display: block;
  background-size: cover;
  width: 100%;
  height: 150px;
  border-radius: 25px;
}
.recepten .recept .recept_title {
  font-size: 1.444em;
}
.recepten .recept .recept_title a {
  color: #000;
}
.recepten .recept .recept_stars {
  color: #2ca343;
}
.recepten .recept .recept_link {
  text-decoration: underline;
}
.recepten .filter {
  display: flex;
}
.recepten .filter .checkmark_label {
  display: inline-flex;
}
.recepten .filter .checkmark {
  font-family: "Font Awesome 5 Pro";
}
.recepten .filter .checkmark:before {
  display: block;
  width: 30px;
  height: 28px;
  border: 2px solid #266d34;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 900;
  content: " ";
  line-height: 22px;
  text-align: center;
  color: #fff;
}
.recepten .filter .checkmark_text {
  display: block;
  padding-left: 0.5em;
}
.recepten .filter input:checked ~ .checkmark:before {
  content: "\f00c";
  background-color: #2ca343;
}
.bereidingswijze .recept_stars {
  cursor: pointer;
}
.bereidingswijze .recept_stars .fas {
  color: #2ca343;
}
.bereidingswijze .rate {
  font-size: 0.875em;
}
.bereidingswijze .recept_comment {
  display: none;
}
.bereidingswijze .recept_comment .stars {
  display: inline-block;
}
.bereidingswijze .recept_comment .stars input {
  display: none;
}
.bereidingswijze .recept_comment .stars .fas {
  color: #e5e6e2;
}
.bereidingswijze .recept_comment .stars:hover .fas {
  color: #2ca343;
}
.bereidingswijze .recept_comment .stars label:hover ~ label .fas {
  color: #e5e6e2;
}
.bereidingswijze .recept_comment .stars .active .fas {
  color: #2ca343;
}
.bereidingswijze .recept_comment .stars input:checked ~ .fas,
.bereidingswijze .recept_comment .stars label:hover .fas {
  color: #2ca343;
}
.contact-form a {
  cursor: pointer;
  font-size: 1.444em;
  display: block;
  position: relative;
  line-height: 43px;
}
.contact-form a .fas {
  color: #e5e6e2;
  position: absolute;
  display: block;
  border: 1px solid #e5e6e2;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  top: 0px;
  right: 0px;
  text-align: center;
  line-height: 43px;
}
.contact-form a .fas:before {
  color: #4e4e4e;
}
.contact-form .the_form {
  display: none;
}
.contact-form .the_form .nf-form-content button,
.contact-form .the_form .nf-form-content input[type=button],
.contact-form .the_form .nf-form-content input[type=submit] {
  -webkit-appearance: none;
  border-style: solid;
  border: 0px solid white;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  background-color: #2ca343;
  border-bottom: 3px solid #237f35 !important;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  display: inline-block;
  padding: 0 2em;
  font-size: 0.938em;
  line-height: 40px;
  height: 40px;
}
.contact-form .the_form .nf-form-content button.yellow,
.contact-form .the_form .nf-form-content input[type=button].yellow,
.contact-form .the_form .nf-form-content input[type=submit].yellow {
  background-color: #e3ac27 !important;
  border-bottom-color: #a8801f !important;
}
.contact-form .the_form .nf-form-content button.ghost,
.contact-form .the_form .nf-form-content input[type=button].ghost,
.contact-form .the_form .nf-form-content input[type=submit].ghost {
  border: 1px solid #fff !important;
  background-color: transparent;
}
.contact-form .the_form .nf-form-content button.ghost.green,
.contact-form .the_form .nf-form-content input[type=button].ghost.green,
.contact-form .the_form .nf-form-content input[type=submit].ghost.green {
  border: 2px solid #2ca343 !important;
  line-height: 38px;
  height: 38px;
  color: #2ca343;
}
.contact-form .the_form .nf-form-content button:hover,
.contact-form .the_form .nf-form-content input[type=button]:hover,
.contact-form .the_form .nf-form-content input[type=submit]:hover {
  text-decoration: none;
  color: #fff;
}
.contact-form.active .the_form {
  display: block;
}
.contact-form.active a .fas:before {
  content: "\f106";
}
input.ninja-forms-field:not([type=button]),
.nf-form-content textarea {
  border-radius: 25px !important;
  background-color: #f5f5f5 !important;
  border: 1px solid #ced4da !important;
  color: black !important;
}
@media (min-width: 576px) {
  header .header-left,
  header .header-right {
    height: 440px;
  }
}
@media (min-width: 768px) {
  header .header-left,
  header .header-right {
    height: 700px;
  }
  header nav#nav-main ul.menu li:hover > ul.menu {
    display: flex;
  }
}
@media (max-width: 768px) {
  header .menu_bar {
    line-height: 2em;
  }
  header nav#nav-main ul.menu {
    background-color: #fff;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: -100%;
    right: 0px;
  }
  header nav#nav-main ul.menu li ul.menu {
    position: relative;
    top: 0px;
    left: 1em;
  }
  header nav#nav-main ul.menu li label {
    font-family: "Font Awesome 5 Pro";
    height: 100%;
    display: inline-block;
  }
  header nav#nav-main ul.menu li label:after {
    font-family: "Font Awesome 5 Pro";
    content: "\f106";
    width: 16px;
    height: 16px;
    display: inline-block;
  }
  header nav#nav-main input:checked ~ label:before {
    content: "\f00d";
  }
  header nav#nav-main input:not(:checked) ~ ul.menu {
    display: none;
  }
}
/*# sourceMappingURL=joannusmolen.css.map */