@green: #2ca343;
@dark-green: #266d34;
@off-white: #f3f4ee;
@border-radius: 25px;
@gray: #e5e6e2;
@dark-gray: #4e4e4e;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap');
@import url('gg.min.css');

body, html {
  background-color: @off-white;
  font-family: "Montserrat Light", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

a {
  color: @green;

  &:hover {
    color: @green;
  }
}

.brush {
  font-family: 'Nanum Brush Script', cursive;
}

.rounded-25 {
  border-radius: @border-radius;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
}

h1, h2 {
  font-size: 2.222em;
  line-height: 1em;

  .brush {
    font-size: 1.450em
  }
}

h2 {
  font-size: 2.000em;
  padding-bottom: 1.5rem;
}

p {
  line-height: 2.0em;
}

.h1, .h2 {
  &:after {
    content: '';
    border-bottom: 1px solid @green;
    width: 2em;
    display: block;
    margin: 1em auto;
  }
}

header {
  .menu_bar {
    height: 100px;
    line-height: 100px;
  }

  h1.hdr-logo {
    font-size: 2em;
    height: 100px;
    line-height: 100px;
  }

  .header-left, .header-right {
    height: 440px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header-back {
    background-image: url("../images/header-page.png");
    background-size: cover;
    background-position: center center;
    margin-left: -15px;
    margin-right: -15px;
    min-height: 22.222em;

    h1.article-h1 {
      font-size: 2.222em;
    }


  }

  .header-block {
    .title {
      font-size: 2em;
      line-height: 1.111em;
      word-wrap: break-word;
    }

    .button {
      position: relative;
      bottom: -2.2rem;
    }
  }

  .main-breadcrumbs {
    color: #fff;
    font-size: 0.778em;

    a {
      color: #fff;
    }

    .breadcrumb_last {
      font-family: "Montserrat SemiBold", "Helvetica Neue", sans-serif;;
    }
  }

  .article-h1 {
    color: #fff;
  }

  .white-line {
    height: 1em;
    width: 115px;
    border-bottom: 1px solid white;
    display: inline-block;
    align-self: center;
  }
}

.gescheurde-lijn {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 22px;
    background-image: url("../images/gescheurde_lijn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

nav#nav-main {
  z-index: 1000;
  height: 100px;

  label[for=menu-button] {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 2em;

    &:before {
      content: "\f0c9";
    }
  }

  ul.menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    display: flex;

    li {
      padding: 0px;
      margin: 0px;
      position: relative;

      a {
        color: #000;
        padding: 0px 1em;

        .current-menu-item &&, &:hover {
          color: @green;
        }
      }

      input:checked ~ ul.menu {
        display: flex;
      }
    }

    ul.menu {
      flex-direction: column;
      background: #fff;
      line-height: 2em;
      position: absolute;
      display: none;
    }
  }
}

button, input[type="submit"] {
  -webkit-appearance: none;
  border-style: solid;
  border: 0px solid white;
}

.button, .wp-block-button__link {
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  background-color: @green;
  border-bottom: 3px solid #237f35 !important;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  display: inline-block;
  padding: 0 2em;
  font-size: 0.938em;
  line-height: 40px;
  height: 40px;

  &.yellow {
    background-color: #e3ac27 !important;;
    border-bottom-color: #a8801f !important;;
  }

  &.ghost {
    border: 1px solid #fff !important;
    background-color: transparent;

    &.green {
      border: 2px solid @green !important;
      line-height: 38px;
      height: 38px;
      color: @green;
    }
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.wp-block-button__link {
  background-color: @green !important;
  font-size: 0.938em !important;
  line-height: 0.938em !important;
  -webkit-border-radius: 1.5em !important;
  -moz-border-radius: 1.5em !important;
  border-radius: 1.5em !important;
}

.wheat-back, .wood-back, .toast-back, .wheat-clouds-back {
  background-color: @off-white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.wheat-clouds-back {
  background-image: url("../images/wheat-clouds-back.png");
}

.wheat-back {
  background-image: url("../images/wheat-back.png");
}

.wood-back {
  background-image: url("../images/wood-back.png");
}

.toast-back {
  background-image: url("../images/toast-back.png");
  color: #fff;
}

.pt-100 {
  padding-top: 5.556em;
}

.pb-100 {
  padding-bottom: 5.556em;
}

.pt-50 {
  padding-top: 2.778em
}

.pb-50 {
  padding-bottom: 2.778em
}

.mt-50 {
  margin-top: 2.778em
}

.mb-50 {
  margin-bottom: 2.778em
}

.keurmerk {
  color: #fff;

  .keurmerk-title {
    font-size: 1.556em;
  }

  .keurmerk-body {
    font-size: 0.833em;
  }
}

.category {
  a {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }

  .category-title {
    font-size: 1.222em;
  }
}

.no-break {
  white-space: nowrap;
}

footer {
  background-color: @off-white;

  .footer-menu-title {
    font-size: 1.111em;
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
  }

  a {
    color: #000;

    &:hover {
      color: #000;
    }
  }

  ul.menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;

    li {
      font-size: 0.778em;
      line-height: 2em;
    }
  }

  .footer-text {
    border-top: 1px solid @gray;

    .brush {
      font-size: 2.778em;
      color: @dark-green;
    }
  }

  .footer-links {
    font-size: 0.722em;
  }
}

.configurator-content {
  .prod_conf {
    display: flex;

    .prod_conf_option {
      display: none;

      label {
        height: 210px;
        background-color: #fff;
        border: 2px solid white;
        background-size: cover;
        background-position: center center;
        border: 2px solid @dark-green;
        margin-bottom: 15px;

        .button {
          font-size: 0.778em;
          text-transform: none;
          position: relative;
          bottom: -15px;
          white-space: nowrap;

          padding: .5em 1em;
          align-self: flex-end;
        }
      }

      input {
        display: none;
      }

      input.prod_option_radio:not(:checked) ~ label {
        border-color: #fff;

        .button {
          border-color: #868686 !important;
          background-color: #bcbcbc;
        }
      }
    }
  }

  .prod_conf.level_1 {
    .prod_conf_option {
      display: block;
    }
  }

  .step_label {
    display: none;
    border-top: 1px solid @dark-green;

    &.level_1 {
      display: block;
      border-top: none;
    }
  }
}

.button:disabled {
  border-color: #868686 !important;
  background-color: #bcbcbc !important;
}

.configurator-form-container {
  .configurator-form-title {
    font-size: 1.444em;
    border-bottom: 1px solid #eeeeee;
  }
}

.verkooppunten {
  .verkooppunt {
    .verkooppunt-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
    }

    .button {
      position: relative;
      bottom: -2.2rem;
      align-self: center;
    }
  }
}

.full-bg {
  position: relative;
  color: white;

  &:before {
    position: absolute;
    content: '';
    height: 100%;
    left: -25vw;
    right: -25vw;
    //z-index: -1;
    background-size: cover;
    background-position: center center;
  }
}

.wp-block-media-text {
  padding: 3rem 0px;

  &:first-child {
    padding: 0px 0px 3rem 0px;
  }
}

.form-group {
  .form-control {
    border-radius: @border-radius;
    background-color: #f5f5f5;
  }
}

.icon {
  width: 15px;
  height: 11px;
  display: inline-block;

  &.icon-checkmark {
    background-image: url("../images/checkmark.png");
    background-repeat: repeat;
  }
}

.features {
  justify-content: space-evenly;

  .feature {
    .feature-title {
      font-size: 1.444em;
    }

    .feature-body {
      font-size: 0.889em;
      margin-bottom: -1rem !important;
    }

    .button {
      position: relative;
      bottom: -2rem;
      white-space: nowrap;
      align-self: center;
    }
  }
}

.faqs {
  .faq {
    .faq_title {
      font-size: 1.444em;

      label {
        display: block;
        position: relative;
        cursor: pointer;

        &:before {
          font-family: "Courier New";
          content: "-";
          position: absolute;
          top: 0px;
          right: 0px;
          height: 43px;
          width: 43px;
          display: block;
          color: #9f9f9f;
          font-size: 43px;
          border-radius: 50%;
          border: 1px solid #9f9f9f;
          text-align: center;
          line-height: 43px;
        }
      }
    }

    .faq_body {
      .faq_answer {
        font-size: 0.889em;
        border-top: 1px solid @gray;
        border-bottom: 1px solid @gray;
        padding-top: 1rem;
        margin-bottom: 1rem;
      }

      .like {
        font-size: .778em;

        a.like_button {
          .far {
            color: @green;
          }
        }
      }
    }

    input.faq_cb:not(:checked) ~ .faq_body {
      display: none;
    }

    .thumbs-up {
      font-size: 0.539em;

      .far {
        color: #aaaba8;
      }
    }
  }
}

input.faq_cb:not(:checked) ~ .faq_title .faq-label:before {
  content: "+";
}

.social {
  .social-icon {
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
  }
}

.producten {
  .product {
    opacity: 1;
    transition: all 0.5s ease;
    overflow: hidden;

    .product-image {
      min-height: 250px;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .button {
      position: relative;
      bottom: -1rem;
      align-self: center;
      text-transform: none;
    }

    &.hidden {
      opacity: 0;
      width: 0;
      flex: 0;
      max-width: 0;
      padding: 0px !important;
      margin: 0px;
    }
  }

  .product_filter {
    display: none;
  }

  .checkmark_label {
    display: inline-flex;
  }

  .checkmark {
    font-family: "Font Awesome 5 Pro";

    &:before {
      display: block;
      width: 30px;
      height: 28px;
      border: 2px solid @dark-green;
      background-color: #fff;
      border-radius: 5px;
      font-weight: 900;
      content: " ";
      line-height: 22px;
      text-align: center;
      color: #fff;
    }
  }

  .checkmark_text {
    display: block;
  }

  input:checked ~ .checkmark:before {
    content: "\f00c";
    background-color: @green;
  }
}

.productafbeeldingen {
  margin: -1em;
  justify-content: space-evenly;

  .productafbeelding {
    background-size: cover;
    background-position: center center;
    min-height: 230px;
    margin: 1em;
    max-width: 100%;
    flex-grow: 1;
  }
}

.ingredienten_en_voedingswaarden {
  border-bottom: 1px solid #e5e6e2;

  .checkmark {
    font-family: "Font Awesome 5 Pro";

    &:before {
      display: block;
      width: 30px;
      height: 28px;
      border: 2px solid @dark-green;
      background-color: #fff;
      border-radius: 5px;
      font-weight: 900;
      content: " ";
      line-height: 22px;
      text-align: center;
      color: #fff;
    }

    &.checked:before {
      content: "\f00c";
      background-color: @green;
    }
  }

  .label {
    display: block;
    padding-left: 1em;
    white-space: nowrap;
  }

  .col {
    flex-grow: 0;
  }
}

.recepten {
  .recept {
    border-bottom: 1px solid #e5e6e2;

    .recept_image {
      display: block;
      background-size: cover;
      width: 100%;
      height: 150px;
      border-radius: 25px;
    }

    .recept_title {
      font-size: 1.444em;

      a {
        color: #000;
      }
    }

    .recept_stars {
      color: @green;
    }

    .recept_link {
      text-decoration: underline;
    }
  }

  .filter {
    display: flex;

    .checkmark_label {
      display: inline-flex;
    }

    .checkmark {
      font-family: "Font Awesome 5 Pro";

      &:before {
        display: block;
        width: 30px;
        height: 28px;
        border: 2px solid @dark-green;
        background-color: #fff;
        border-radius: 5px;
        font-weight: 900;
        content: " ";
        line-height: 22px;
        text-align: center;
        color: #fff;
      }
    }

    .checkmark_text {
      display: block;
      padding-left: 0.5em;
    }

    input:checked ~ .checkmark:before {
      content: "\f00c";
      background-color: @green;
    }
  }
}

.bereidingswijze {
  .recept_stars {
    .fas {
      color: @green;
    }

    cursor: pointer;
  }

  .rate {
    font-size: 0.875em;

  }

  .recept_comment {
    display: none;

    .stars {
      display: inline-block;

      input {
        display: none;
      }

      .fas {
        color: @gray;
      }

      &:hover .fas {
        color: @green;
      }

      label:hover ~ label .fas {
        color: @gray;
      }

      .active .fas {
        color: @green;
      }

      input:checked ~ .fas, label:hover .fas {
        color: @green;
      }
    }
  }
}

.contact-form {
  a {
    cursor: pointer;
    font-size: 1.444em;
    display: block;
    position: relative;
    line-height: 43px;
    .fas {
      color: @gray;
      position: absolute;
      display: block;
      border: 1px solid @gray;
      border-radius: 50%;
      height: 43px;
      width: 43px;
      top: 0px;
      right: 0px;
      text-align: center;
      line-height: 43px;
      &:before {
        color: @dark-gray;
      }
    }
  }
  .the_form {
    display: none;

    .nf-form-content button, .nf-form-content input[type=button], .nf-form-content input[type=submit] {
      -webkit-appearance: none;
      border-style: solid;
      border: 0px solid white;

      -webkit-border-radius: 1.5em;
      -moz-border-radius: 1.5em;
      border-radius: 1.5em;
      background-color: @green;
      border-bottom: 3px solid #237f35 !important;
      color: #ffffff;
      text-transform: uppercase;
      font-family: "Montserrat", "Helvetica Neue", sans-serif;
      display: inline-block;
      padding: 0 2em;
      font-size: 0.938em;
      line-height: 40px;
      height: 40px;

      &.yellow {
        background-color: #e3ac27 !important;;
        border-bottom-color: #a8801f !important;;
      }

      &.ghost {
        border: 1px solid #fff !important;
        background-color: transparent;

        &.green {
          border: 2px solid @green !important;
          line-height: 38px;
          height: 38px;
          color: @green;
        }
      }

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }

  }
  &.active {
    .the_form {
      display: block;
    }
    a {
      .fas {
        &:before {
          content: "\f106";
        }
      }
    }
  }
}

input.ninja-forms-field:not([type=button]), .nf-form-content textarea {
  border-radius: @border-radius !important;
  background-color: #f5f5f5 !important;
  border: 1px solid #ced4da !important;
  color: black !important;
}


// SM
@media (min-width: 576px) {
  header {
    .header-left, .header-right {
      height: 440px;
    }
  }
}

// MD
@media (min-width: 768px) {
  header {
    .header-left, .header-right {
      height: 700px;
    }

    nav#nav-main {
      ul.menu {
        li {
          &:hover > ul.menu {
            display: flex;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .menu_bar {
      line-height: 2em;
    }

    nav#nav-main {
      ul.menu {
        background-color: #fff;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: -100%;
        right: 0px;

        li {
          ul.menu {
            position: relative;
            top: 0px;
            left: 1em;
          }

          label {
            font-family: "Font Awesome 5 Pro";
            height: 100%;
            display: inline-block;

            &:after {
              font-family: "Font Awesome 5 Pro";
              content: "\f106";
              width: 16px;
              height: 16px;
              display: inline-block;
            }
          }
        }
      }

      input:checked ~ label:before {
        content: "\f00d";
      }

      input:not(:checked) ~ ul.menu {
        display: none;
      }
    }
  }
}

