<div class="row">
    <div class="col-md-4 ingredienten">
        <h2>Ingrediënten</h2>
        <ul>
            {% for item in fields.ingredienten %}
                <li>{{ item.ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8 bereidingswijze">
        <h2>Bereidingswijze</h2>
        {{ fields.bereidingswijze }}
        <div class="recept_stars pt-3 pb-4">{% for i in 1..post.stars %}<i class="fas fa-star"></i>{% endfor %} <span class="rate">Recept uitgeprobeerd? Geef ook een beoordeling</span></div>
        <div class="recept_comment">{% include 'partial/comment-form.twig' %}</div>
        {% if post.file %}<a href="{{ Image(post.file).src }}" class="button">Download recept <i class="fas fa-download"></i></a> {% endif %}<a href="mailto:?body={{ function('get_permalink', post.ID) }}" class="button ghost green">Recept delen <i class="fas fa-share"></i></a>
    </div>
</div>
<script>
    jQuery('.recept_stars').click(function (em) {
        jQuery('.recept_comment').show();
    });
</script>
