</div></div></div></div>
<div class="{% block wrapper_class %}{% endblock %}" {% block wrapper_style %}{% endblock %}>
    <div class="container {% block container_class %}{% endblock %}" id="{{ block.id }}">
        {% block content %}
        {% endblock %}
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-12">