<div class="row">
    <div class="col-md-6">
        <iframe class="rounded-25" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d157900.64097984636!2d5.676914959485263!3d51.80308005589176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c70e3a443f92f3%3A0x8480a7a99ec26ebc!2sJoannusmolen%20BV!5e0!3m2!1snl!2snl!4v1568621327499!5m2!1snl!2snl" width="100%" height="390" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="col-md-6 pl-md-5">
        {{ fields.gegevens }}
    </div>
</div>
