{% if fields.title or fields.subtitle %}<h1 class="h1 text-center pt-50">{% if fields.title %}<span class="brush">{{ fields.title }}</span>{% endif %}{% if fields.title and fields.subtitle %}<br>{% endif %}{% if fields.subtitle %}{{ fields.subtitle }}{% endif %}</h1>{% endif %}