{% extends 'block/block.twig' %}
{% block wrapper_class %}
{% endblock %}
{% block wrapper_style %}
{% endblock %}
{% block container_class %}
    faqs pb-100
{% endblock %}
{% block content %}
    {% include 'block/custom-title.twig' %}
    {% for faq in faqs %}
        <div class="row pt-2 faq" id="faq_{{ faq.ID }}">
            <div class="faq col bg-white rounded-25 pl-5 pr-5 pt-4 pb-4 mb-3">
                <input type="checkbox" id="faq_cb_{{ faq.ID }}" class="faq_cb d-none"/>
                <div class="faq_title"><label class="faq-label" for="faq_cb_{{ faq.ID }}">{{ faq.post_title }}
                        <br/><span class="thumbs-up"><i class="far fa-thumbs-up"></i> <span class="likes" id="likes_{{ faq.ID }}">{{ faq.likes?:0 }}</span> mens{% if faq.likes > 1 or faq.likes < 1 %}en{% endif %} vond{% if faq.likes > 1 or faq.likes < 1 %}en{% endif %} deze vraag en antwoord waardevol</span></label>
                </div>
                <div class="faq_body">
                    <div class="faq_answer">
                        {{ faq.post_content }}
                    </div>
                    <div class="like">
                        <a href="#" class="like_button" data-id="{{ faq.ID }}">
                            <i class="far fa-thumbs-up"></i> Was deze vraag en antwoord waardevol? Geef een duimpje!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <script>
        jQuery('a.like_button').live('click', function (event) {
            var post_id = jQuery(this).attr('data-id');
            jQuery(this).after('<span>Bedankt!</span>').remove();

            jQuery.ajax({
                url: '/wp-admin/admin-ajax.php',
                type: 'post',
                data: {
                    action: 'add_like',
                    post_id: post_id
                }
            })
                .fail(function (r, status, jqXHR) {
                    console.log('failed');
                })
                .done(function (r, status, jqXHR) {
                    console.log('success');
                    jQuery('#likes_' + post_id).html(r);
                });
            return false;
        });
    </script>
{% endblock %}