<div id="features-{{ block.id }}" class="features d-flex flex-wrap flex-column flex-lg-row row">
    {% for item in fields.features %}
        <div class="col feature text-center mt-3 mb-3 pt-0 pl-3 pr-3 pb-3">
            <div class="bg-white rounded-25 p-3 d-flex flex-column h-100 justify-content-start">
                <div class="feature-title pb-3">{{ item.title }}</div>
                <div class="feature-body">{{ item.body }}</div>
                {% if( item.link.url ) %}
                <a href="{{ item.link.url }}" target="{{ item.link.target }}" class="button flex-grow-0">{{ item.link.title }}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>