{% extends "block/block.twig" %}
{% block wrapper_class %}
    bg-white pt-100 pb-100
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Ingrediënten en voedingswaarden</h2>
            <div class="ingredienten_en_voedingswaarden d-flex justify-content-start row pb-50 mb-50">
                <div class="col d-flex ">
                    <span class="checkmark {% if (fields.geschikt_voor_vegetariers) %}checked{% endif %}"></span> <span class="label">Geschikt voor vegetariërs</span>
                </div>
                <div class="col d-flex ">
                    <span class="checkmark {% if (fields.geschikt_voor_vegans) %}checked{% endif %}"></span> <span class="label">Geschikt voor vegans</span>
                </div>
                <div class="col d-flex ">
                    <span class="checkmark {% if (fields.organisch) %}checked{% endif %}"></span> <span class="label">Organisch</span>
                </div>
                <div class="col d-flex ">
                    <span class="checkmark {% if (fields.glutenvrij) %}checked{% endif %}"></span> <span class="label">Glutenvrij</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for row in fields.ingredienten_en_voedingswaarden|batch(2) %}
            <div class="col-md-6">
                <ul>
                    {% for item in row %}
                        <li>{{ item.item }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}