{% extends 'block/block.twig' %}
{% block wrapper_class %}
    wood-back gescheurde-lijn
{% endblock %}
{% block wrapper_style %}
{% endblock %}
{% block container_class %}
    pt-100 pb-100 d-flex flex-column flex-sm-row flex-wrap justify-content-center
{% endblock %}
{% block content %}
    <div class="row w-100">
        {% for ID in fields.keurmerken %}
            <div class="keurmerk col text-center">
                <img src="{{ Image(Post(ID)._thumbnail_id).src }}"/>
                <div class="keurmerk-title mt-2 mb-2">{{ Post(ID).title }}</div>
                <div class="keurmerk-body mb-4">{{ Post(ID).post_excerpt }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="row w-100">
        <div class="col-12 text-center mt-4">
            <a href="/keurmerken" class="button ghost">Lees meer over onze keurmerken</a>
        </div>
    </div>
{% endblock %}