{% if is_preview %}
<div class="wheat-back text-center {% if(fields.gescheurde_lijn == true) %}gescheurde-lijn{% endif %}" style="background-image: url('{{ fields.background_image.url }}')">
    Overgang
</div>
{% else %}
            </div>
        </div>
    </div>
</div>
<div class="wheat-back {% if(fields.gescheurde_lijn == true) %}gescheurde-lijn{% endif %}" style="background-image: url('{{ fields.background_image.url }}')">
    <div class="container pt-100 pb-100" id="{{ block.id }}">
        <div class="row">
            <div class="col-12">
{% endif %}