{% extends 'block/block.twig' %}
{% block wrapper_class %}
    wheat-back
{% endblock %}
{% block wrapper_style %}
{% endblock %}
{% block container_class %}
    pt-100 pb-100 text-center
{% endblock %}
{% block content %}
    <div>
        <h2 class="h2">Producten zoeken</h2>
    </div>
    <div class="mt-2 row d-flex flex-column flex-sm-row flex-wrap justify-content-center">
        {% for ID in fields.subpages %}
            <div class="category col">
                <a href="{{ Post(ID).link }}">
                    <img src="{{ Image(Post(ID)._thumbnail_id).src }}"/>
                    <div class="category-title mt-4 mb-4">{{ Post(ID).title }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}