{% extends 'block/block.twig' %}
{% block wrapper_class %}
{% endblock %}
{% block wrapper_style %}
{% endblock %}
{% block container_class %}
    producten pb-100 pt-100
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>{{ fields.producten_title }}</h2>
            <div class="fliters d-flex">
            {% for item in fields.categories %}
                <label class="checkmark_label" for="pf_{{ item }}">
                    <input class="product_filter" type="checkbox" id="pf_{{ item }}" checked="checked" value="{{ Term(item).name | lower|replace({' ':'_'}) }}">
                    <span class="checkmark"></span>
                    <span class="mr-3 ml-2 checkmark_text">
                    {{ Term(item).name }}
                    </span>
                </label>
            {% endfor %}
            </div>
        </div>
    </div>
    <div id="producten-{{ block.id }}" class="producten d-flex flex-wrap flex-column flex-lg-row row">
        {% for item in producten %}
            <div class="col-3 product text-center mt-3 mb-3 pt-0 pl-3 pr-3 pb-3" data-categories="{{ item.terms('category') | join(',') | lower|replace({' ':'_'}) }}">
                <div class="bg-white rounded-25 pt-4 d-flex flex-column h-100 justify-content-center">
                    <div class="product-image" style="background-image: url('{{ item.thumbnail.src }}');"></div>
                    {% if( item.link ) %}
                        <a href="{{ item.link }}" class="button flex-grow-0">{{ item.title }}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        jQuery('.product_filter').bind('change', function (e) {
            var prods = jQuery(this).closest('.producten');
            var checked = [];
            jQuery('.product_filter:checked').each(function () {
                checked.push(jQuery(this).val());
            });
            prods.find('.product').addClass('hidden').filter(function (index) {
                var data = jQuery(this).attr('data-categories').split(',');
                for (var i = 0; i < data.length; i++) {
                    if (jQuery.inArray(data[i], checked) != -1) {
                        return true;
                    }
                }
                return false;
            }).removeClass('hidden');
        });
    </script>
{% endblock %}