{% extends "block/block.twig" %}
{% block wrapper_class %}
    wheat-back pt-100 pb-100
{% endblock %}
{% block content %}
    <div class="row">
        <div class="productafbeeldingen d-flex flex-wrap flex-column flex-lg-row col-12">
            {% for item in fields.images %}
                <div class="gg-element productafbeelding text-center mt-3 mb-3 pt-0 pl-3 pr-3 pb-3 rounded-25" style="background-image: url('{{ item.image.url }}')" data-src="{{ item.image.url }}">
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="gg-screen"></div>
{% endblock %}