{% extends 'block/block.twig' %}
{% block wrapper_class %}
    wood-back gescheurde-lijn
{% endblock %}
{% block wrapper_style %}
    style="background-image: url('{{ fields.background_image.url }}')"
{% endblock %}
{% block container_class %}
    pb-100 pt-50 text-white
{% endblock %}
{% block content %}
    <div class="row pt-5">
        <div class="col-md-12">
            <h2>{{ fields.title }}</h2>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-6">
            <img src="{{ fields.media.url }}"/>
        </div>
        <div class="col-md-6">
            {{ fields.body }}

            <div class="social d-flex flex-column">
                {% if options.facebook %}
                    <a href="{{ options.facebook }}" target="_blank" class="text-white mb-2"><i class="fab fa-facebook-f social-icon"></i> Volg ons op Facebook</a>
                {% endif %}

                {% if options.linkedin %}
                    <a href="{{ options.linkedin }}" target="_blank" class="text-white mb-2"><i class="fab fa-linkedin-in social-icon"></i> Volg ons op LinkedIn</a>
                {% endif %}

                {% if options.instagram %}
                    <a href="{{ options.instagram }}" target="_blank" class="text-white mb-2"><i class="fab fa-instagram social-icon"></i> Volg ons op Instagram</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}