{% extends 'block/block.twig' %}
{% block wrapper_class %}
{% endblock %}
{% block wrapper_style %}
{% endblock %}
{% block container_class %}
    configurator-form-container
{% endblock %}
{% block content %}
    <div class="bg-white rounded-25 mb-4" id="subform">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="configurator-form-title pb-4 pt-5">
                    Wilt u onder eigen merknaam biologische producten aanbieden?
                </div>
            </div>
        </div>
        <div class="row">
            {% if mail_send %}
                <div class="offset-md-1 col-md-10 pt-5 pb-5">
                    <h2>Bedankt voor uw aanvraag</h2>
                    <p>Wij nemen uw aanvraag in behandeling.</p>
                </div>
            {% else %}
                <div class="offset-md-1 col-md-5 pt-5 pb-5">
                    <table>
                        <tr>
                            <td><strong>1:</strong></td>
                            <td>Vraag toegang tot onze configurator aan</td>
                        </tr>
                        <tr>
                            <td><strong>2:</strong></td>
                            <td>Stel online zelf uw product samen</td>
                        </tr>
                        <tr>
                            <td><strong>3:</strong></td>
                            <td>Vraag online een offerte aan</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-5 pt-5 pb-5">

                    <form method="post" action="#subform">
                        <div class="form-group">
                            <label for="bedrijfsnaam">
                                Bedrijfsnaam*
                            </label>
                            <input class="form-control" id="bedrijfsnaam" name="bedrijfsnaam" required placeholder="Vul hier uw bedrijfsnaam in"/>
                        </div>
                        <div class="form-group">
                            <label for="naam">
                                Naam*
                            </label>
                            <input class="form-control" id="naam" name="naam" required placeholder="Vul hier uw naam in"/>
                        </div>
                        <div class="form-group">
                            <label for="functie">
                                Functie
                            </label>
                            <input class="form-control" id="functie" name="functie" placeholder="Vul hier uw functie in"/>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                E-mail adres*
                            </label>
                            <input class="form-control" id="email" name="email" type="email" required placeholder="Vul hier uw e-mail adres in"/>
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" class="button" value="Toegang aanvragen &rsaquo;"/>
                        </div>
                    </form>

                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
