{% extends 'block/block.twig' %}
{% block wrapper_class %}
    wood-back gescheurde-lijn
{% endblock %}
{% block wrapper_style %}
    style="background-image: url('{{ fields.background_image.url }}')"
{% endblock %}
{% block container_class %}
    pb-100 d-flex flex-column flex-sm-row flex-wrap justify-content-center
{% endblock %}
{% block content %}
<div class="row w-100 text-white">
    {% include 'block/custom-title.twig' %}
    {{ fields.body }}
</div>
{% endblock %}