{#
/**
 * Block Name: Verkooppunt
 *
 * This is the template that displays the example block.
 */
#}
<div id="verkooppunten-{{ block.id }}" class="verkooppunten d-flex justify-content-between flex-wrap row">
    {% for item in fields.verkooppunt %}
        <div class="verkooppunt bg-white rounded-25 p-3 text-center col-lg-5 mt-5">
            <div class="row">
                <div class="col-5">
                    <div class="verkooppunt-image" style="background-image: url({{ Image(item.image).src }});"></div>
                </div>
                <div class="col-7 text-left">
                    <b>{{ item.title }}</b>
                    <p>{{ item.body }}</p>
                </div>
            </div>
            <a href="{{ item.link }}" target="_blank" class="button">Ga verder</a>
        </div>
    {% endfor %}
</div>