{% extends 'block/block.twig' %}
{% block wrapper_class %}
    toast-back gescheurde-lijn
{% endblock %}
{% block wrapper_style %}
{% endblock %}
{% block container_class %}
    pt-100 pb-100
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>{{ fields.title }}</h2>
        </div>
    </div>
    <div class="row d-flex flex-column flex-md-row justify-content-between">
        <div class="col-md-6">
            <p>{{ fields.body }}</p>
        </div>
        <div class="col-4 d-md-flex flex-column justify-content-end">
            <a class="button green flex-grow-0 no-break text-center" href="{{ fields.link.url }}">{{ fields.link.title }}</a>
        </div>
    </div>
{% endblock %}