{% extends 'block/block.twig' %}
{% block wrapper_class %}
    wheat-back text-white
{% endblock %}
{% block wrapper_style %}
    style="background-image: url('{{ fields.background.url }}');"
{% endblock %}
{% block content %}
    <div class="row pt-5">
        <div class="col-md-6">
            <h2>{{ fields.title }}</h2>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-6">
            <video width="100%" controls>
                <source src="{{ fields.media.url }}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>

        </div>
        <div class="col-md-6">
            {{ fields.body }}
        </div>
    </div>
{% endblock %}