{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
<header class="container-fluid bg-white">
    {% block header %}
        <div class="row menu_bar">
            <h1 class="hdr-logo col" role="banner">
                <a class="hdr-logo-link" href="{{ site.url }}" rel="home"><img class="pl-3 pr-3" src="{{theme.link}}/assets/images/joannusmolen_logo.png" alt="{{ site.name }}"/></a> <span class="brush site_description d-none d-lg-inline">{{ site.description }}</span>
            </h1>
            <nav id="nav-main" class="nav-main col" role="navigation">
                <input id="menu-button" type="checkbox" class="d-none"/>
                <label for="menu-button" class="fas d-md-none"></label>
                {% include "menu.twig" with {'menu': menu.get_items} %}
            </nav><!-- #nav -->
        </div>
    {% endblock %}
</header>

<section id="content" role="main">
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col">Sorry, no content</div>
            </div>
        </div>
    {% endblock %}
</section>

{% block footer %}
    <footer id="footer">
        {% include 'footer.twig' %}
        {{ function('wp_footer') }}
    </footer>
{% endblock %}
</body>
</html>
