<div class="container pt-50 pb-50">
    <div class="d-flex flex-row flex-wrap">
        <div class="col flex-fill col-md-auto">
            <a class="hdr-logo-link" href="{{ site.url }}" rel="home"><img class="mb-4" src="{{ theme.link }}/assets/images/joannusmolen_logo.png" alt="{{ site.name }}"/></a>
        </div>
        {% if footer_menu %}
            {% for item in footer_menu.items %}
                <div class="col {{ item.classes | join(' ') }}">
                    <a class="footer-menu-title" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                    <br/>
                    {% if(item.children) %}
                        <label for="menu_{{ item.id }}"></label>
                        <input type="checkbox" id="menu_{{ item.id }}" class="d-none"/>
                        {% include "menu.twig" with {'menu': item.children} %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row pt-50">
        <div class="pt-50 col footer-text text-center">
            <span class="brush">Goed voor mens en natuur</span>
        </div>
    </div>
    <div class="row">
        <div class="col footer-links text-center pt-4">
            {% if footer_links %}
                {% for item in footer_links.items %}
                    <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a> {% if not loop.last %}|{% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
