{% extends "base.twig" %}

{% block header %}
    {{ parent() }}
    {% include 'partial/header-home.twig' %}
{% endblock %}
{% block content %}
    <div class="wheat-back">
        <div class="container home-container pt-100 pb-100">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="h1"><span class="brush">{{ post.title }}</span><br/>{{ post.subtitle }}</h1>
                    {{ post.content }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}