{% extends "base.twig" %}

{% block header %}
	{{ parent() }}
	{% include 'partial/header-page.twig' %}
{% endblock %}

{% block content %}
	<div>
		<div class="container pt-100 pb-100">
			<article class="post-type-{{ post.post_type }} row" id="post-{{ post.ID }}">
				<section>
					<div class="col-12">
						<h2>{{ post.bedankt_titel }}</h2>
						<p>{{ post.bedankt_body }}</p>
					</div>
				</section>
			</article>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}