{% if menu %}
        <ul class="menu">
            {% for item in menu %}
                <li class="{{ item.classes | join(' ') }}">
                    <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                    {% if(item.children) %}
                    <label for="menu_{{ item.id }}" class="fas"></label>
                    <input type="checkbox" id="menu_{{ item.id }}" class="d-none"/>
                    {% include "menu.twig" with {'menu': item.children} %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
{% endif %}
