{% extends "base.twig" %}

{% block header %}
    {{ parent() }}
    {% include 'partial/header-page.twig' %}
{% endblock %}

{% block content %}
    <div class="wheat-clouds-back post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <div class="container pt-50 pb-100">
            <div class="row">
                <div class="col-12">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </div>
    <!-- /content-wrapper -->
{% endblock %}