{% extends "page.twig" %}

{% block content %}
    {{ parent() }}
    <div class="bg-white recepten">
        <div class="container pt-100 pb-100">
            <div class="row">
                <div class="col-4">
                    <form id="filters">
                        <h2>Categorieën</h2>
                        <div class="filters main">
                            {% include 'partial/filters.twig' with {categories: categories} %}
                        </div>
                        <div class="subcats pt-5">
                            <h2>Subcategorieën</h2>
                            <div class="filters sub" id="subcats">
                               {% include 'partial/filters.twig' with {categories: subcategories} %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-8" id="recepten">
                    {% include 'partial/recepten.twig' %}
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery('#filters').change(function () {
            console.log(jQuery('#filters').serialize());
            jQuery.ajax({
                url: '/wp-admin/admin-ajax.php',
                type: 'post',
                data: {
                    action: 'filter_recepten',
                    formdata: jQuery('#filters').serialize()
                }
            })
                .fail(function (r, status, jqXHR) {
                    console.log('failed');
                })
                .done(function (r, status, jqXHR) {
                    console.log('success');
                    var result = jQuery.parseJSON(r);
                    jQuery('#recepten').html(result.recepten);
                    jQuery('#subcats').html(result.subcats);
                });
            return false;
        });
    </script>
{% endblock %}