{% extends "page.twig" %}

{% block content %}
    <form method="post">
        <div class="container configurator-container pt-100 pb-50">
            <section class="configurator-content col text-center">
                {% set level = 0 %}
                {% for key, type in conf_options %}
                    {% set level = level + 1 %}
                    <div class="text-left pt-4 pb-4 step_label level_{{ level }}" level="{{ level-1 }}">
                        <strong>Stap {{ level }}/{{ conf_options|length }}:</strong> Kies {{ key|lower }}
                    </div>
                    <div class="flex-row justify-content-start flex-wrap {{ key }} prod_conf level_{{ level }}">
                        {% for item in type %}
                            <div class="col-sm-6 col-md-3 prod_conf_option mb-4 {{ item.conf_parent|join(' ') }}" level="{{ level }}">
                                <input class="prod_option_radio" type="radio" name="{{ key|lower|replace({' ':'_'}) }}" id="{{ item.ID }}" value="{{ item.name }}"/>
                                <label style="background-image: url({{ Image(Post(item.ID)._thumbnail_id).src }});" for="{{ item.ID }}" class="d-flex justify-content-center flex-wrap rounded-25">
                                    <div class="button">{{ item.name }}</div>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </section>
        </div>
        <div class="container configurator-form-container pt-50">
            <div class="bg-white rounded-25">
                <div class="row">
                    <div class="offset-md-1 col-md-10">
                        <div class="configurator-form-title pb-4 pt-5">
                            Uw samengesteld product
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-5 pt-5 pb-5">
                        <table width="100%">
                            {% set level = 0 %}
                            {% for key, type in conf_options %}
                                {% set level = level + 1 %}
                                <tr>
                                    <td width="50%">{{ key }}:</td>
                                    <td>
                                        <strong><span class="placeholder" level="{{ level }}" id="{{ key|lower|replace({' ':'_'}) }}"></span></strong>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-5 pt-5 pb-5">

                        <div class="form-group">
                            <label for="bedrijfsnaam">
                                Bedrijfsnaam*
                            </label>
                            <input class="form-control" id="bedrijfsnaam" name="bedrijfsnaam" required placeholder="Vul hier uw bedrijfsnaam in"/>
                        </div>
                        <div class="form-group">
                            <label for="naam">
                                Naam*
                            </label>
                            <input class="form-control" id="naam" name="naam" required placeholder="Vul hier uw naam in"/>
                        </div>
                        <div class="form-group">
                            <label for="functie">
                                Functie
                            </label>
                            <input class="form-control" id="functie" name="functie" placeholder="Vul hier uw functie in"/>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                E-mail adres*
                            </label>
                            <input class="form-control" id="email" name="email" type="email" required placeholder="Vul hier uw e-mail adres in"/>
                        </div>
                        <div class="form-group text-right">
                            <input id="the_submit" type="submit" class="button yellow" value="Offerte aanvragen &rsaquo;" disabled/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        jQuery('.prod_option_radio').bind('change', function (e) {
            var lvl = jQuery(this).parent().attr('level');
            console.log('level ' + lvl);
            jQuery('.prod_conf_option .prod_option_radio').filter(function (index) {
                return jQuery(this).parent().attr("level") > lvl;
            }).prop('checked', false).parent().hide();

            jQuery('.step_label').hide().filter(function (index) {
                return jQuery(this).attr("level") <= lvl;
            }).show();

            jQuery('.prod_conf_option.' + e.target.id).show();
            jQuery('.placeholder#' + e.target.name).html('<i class="icon icon-checkmark"></i> ' + e.target.value);

            jQuery('.placeholder').filter(function (index) {
                return jQuery(this).attr("level") > lvl;
            }).html('');

            if (lvl >= 7) {
                jQuery('#the_submit').attr('disabled', false);
            } else {
                jQuery('#the_submit').attr('disabled', true);
            }
        });


    </script>
{% endblock %}

