{% extends "base.twig" %}

{% block header %}
	{{ parent() }}
	{% include 'partial/header-recepten.twig' %}
{% endblock %}

{% block content %}
	<div class="bg-white post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		<div class="container pt-100 pb-100">
			<div class="row">
				<div class="col-12">
					{{ post.content }}
				</div>
			</div>
		</div>
	</div>
	<!-- /content-wrapper -->
{% endblock %}