<div class="comment-form pb-5">
    <h3>Laat een reactie achter</h3>
    <form class="comment-form" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">
        {% if  user %}
            <input type="hidden" name="email" value="{{ user.email }}">
            <input type="hidden" name="author" value="{{ user.name }}">
            <input type="hidden" name="url" value="{{ user.link }}">
        {% else %}
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control w-100" required name="email" type="email" id="email">

            </div>
            <div class="form-group">
                <label for="author">Naam</label>
                <input class="form-control" required name="author" id="author" type="text">

            </div>
            <div class="form-group">
                <label for="url">Website</label>
                <input class="form-control" name="url" type="url" id="url">
            </div>
        {% endif %}
        <div class="form-group">
            <label>Beoorderling</label><br/>
            <div class="stars">
                <label><input type="radio" name="stars" value="1"><i class="fas fa-star"></i></label>
                <label><input type="radio" name="stars" value="2"><i class="fas fa-star"></i></label>
                <label><input type="radio" name="stars" value="3"><i class="fas fa-star"></i></label>
                <label><input type="radio" name="stars" value="4"><i class="fas fa-star"></i></label>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" placeholder="Uw reactie..." name="comment" cols="60" rows="3"></textarea>
        </div>

        <input name="comment_post_ID" value="{{ post.id }}" type="hidden">
        <input name="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">
        <button type="submit" name="Submit" class="button">Versturen</button>
    </form>
</div>
<script>
    jQuery('.stars input').change(function (em) {
        jQuery(this).parent().prevAll('label').addClass('active');
        jQuery(this).parent().nextAll('label').removeClass('active');
    });
</script>
