<div class="container pb-100">
    <div class="row">
        <div class="col-12">
            {% include '/block/custom-title.twig' with {'fields': {'subtitle' : 'Stel ons een vraag'}}%}
            <div class="contact-form rounded-25 p-4 mb-4 bg-white">
                <a>Stel een vraag aan onze afdeling consumenten <i class="fas fa-angle-down"></i></a>
                <div class="the_form">
                    {% filter shortcodes %}
                    [ninja_form id=2]
                    {% endfilter %}
                </div>
            </div>
            <div class="contact-form rounded-25 p-4 bg-white">
                <a>Stel een vraag aan onze afdeling zakelijke afnemers <i class="fas fa-angle-down"></i></a>
                <div class="the_form">
                    {% filter shortcodes %}
                        [ninja_form id=3]
                    {% endfilter %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery('.contact-form a').click(function (element) {
        jQuery(this).parent().toggleClass('active');
    })
</script>