{% for category in categories %}
    <div class="filter">
        <label for="{{ category.id }}" class="checkmark_label">
            <input name="filter[{{ category.id }}]" type="checkbox" id="{{ category.id }}" class="d-none">
            <span class="checkmark"></span>
            <span class="checkmark_text">{{ category.name }}</span>
        </label>
    </div>
{% endfor %}