<div class="header-back header-home gescheurde-lijn">
    <div class="row no-gutters">
        <div class="col-md-6 header-left d-flex align-items-center justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 rounded-25 bg-white p-3 text-center header-block">
                <div class="title pb-3">
                    {{ post.header_links_title }}
                </div>
                <div class="text">
                    {{ post.header_links_text }}
                </div>
                <a class="button" target="{{ post.header_links_link.target }}" href="{{ post.header_links_link.url }}">
                    {{ post.header_links_link.title }}
                </a>
            </div>
        </div>
        <div class="col-md-6 header-right d-flex align-items-center justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 rounded-25 bg-white p-3 text-center header-block">
                <div class="title pb-3">
                    {{ post.header_rechts_title }}
                </div>
                <div class="text">
                    {{ post.header_rechts_text }}
                </div>
                <a class="button yellow" target="{{ post.header_rechts_link.target }}" href="{{ post.header_rechts_link.url }}">
                    {{ post.header_rechts_link.title }}
                </a>
            </div>
        </div>
    </div>
</div>
