<div class="header-back d-flex" {% if(post.header_image) %}style="background-image: url({{ Image(post.header_image).src }});"{% endif %}>
    <div class="container d-flex flex-column">
        <div class="row no-gutters h-100">
            <div class="col pt-4 d-flex flex-column">
                {{ breadcrumbs }}
                <div class="flex-grow-1 d-flex flex-column justify-content-center text-center">
                    <h1 class="article-h1 text-center pb-4">{{ post.custom.title?:post.title }}</h1>
                    {% if post.subtitle %}<p class="subtitle text-center text-white">{{ post.subtitle }}</p>
                    {% else %}
                        <span class="white-line"></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
