{% for recept in recepten %}
    <div class="recept pb-4 mb-4">
        <div class="row">
            <div class="col-3">
                <a href="{{ recept.link }}" class="recept_image" style="background-image: url('{{ recept.thumbnail }}');"></a>
            </div>
            <div class="col-9">
                <div class="recept_title"><a href="{{ recept.link }}">{{ recept.post_title }}</a></div>
                <div class="recept_body">{{ recept.post_excerpt }}</div>
                <div class="recept_stars">{% for i in 1..recept.stars %}<i class="fas fa-star"></i>{% endfor %}</div>
                <a class="recept_link" href="{{ recept.link }}">Bekijk recept</a>
            </div>
        </div>
    </div>
{% endfor %}