<h1>Aanvraag toegang</h1>
<p>Iemand wilt graag toegang:</p>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    {% for key,value in data %}
    <tr>
        <td>{{ key|capitalize }}</td><td><b>{{ value }}</b></td>
    </tr>
    {% endfor %}
</table>